
.texto{
	text-align: left;
	margin-left: 40px;
	margin-right: 40px;
	padding: 1px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#fotoheader{
	width: 100%;
	height: 500px;
}

#medico, #psi, #nutri, #personal{     
  font-weight: bold  ;
  position: center;
  padding: 10px;
  clear: none;
  float:center;           
  width:60%; 
 }      

.lista, .lista2{
margin-left: 70px;
}

#rodape{
	background-color: #80319C;
	width: 100%;
	height: 200px ;
	display: flex;
}

footer{
	background-color: #7F00FF;
	text-align: center;
	height: 200px;
	margin-top: 3%;
}

#twitter, #facebook,#instagram,#linkedin {
	margin-top: 5%;
	width: 3%;
	align: center ;
	position: center;
}

#apple,#googleplay{
	width: 10%;
}
